<!--Шаблон редактиварания записи таблицы-->

{% extends 'report/layout.html' %}

{% block title %}Ввод данных{% endblock %}

{% block content %}
    <div class="features">
    <h1>Форма по изменению данных таблицы №2 {{ title }}</h1>
   <form method="post" class="table_2_edit">
            {% csrf_token %}
<!--            Дата отчета {{ form.date }}<br>-->
            Учетный номер {{ form.cam_id }}<br>
            Дата выхода из строя   {{ form.damage }}<br>
            Причины не функционирования {{ form.reason }}<br>
            <datalist id="reason">
                {% for option in options %}
                    <option>{{ option }}</option>
                {% endfor %}
            </datalist>
            Планируемая дата восстановления {{ form.planned_recovery }}<br>
            Дата восстановления {{ form.recovery }}<br>
            Адрес места установки {{ form.adress }}<br>

            {% if errors %}
                Форма была заполнена не верно:<br>
                {% for field, errorss in errors.items %}
                    <!--{{ field }}-->
                    <ul>
                    {% for error in errorss %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}

            <button class="btn btn-success" type="submit">Сохранить данные</button>
            <a href="{% url 'table_2' %}"><button class="btn btn-danger">Отмена</button></a>
        </form>
    </div>
{% endblock %}

{{ form.date }}
